.App {
  display: flex;
  flex-direction: row;
  text-align: center;
  display: flex;
  font-family: 'Roboto', sans-serif;
  position: relative;
  height: 100vh;

}


.default-content {
  background-color:  #DAE5F5;
  min-height: 100vh;
  min-width: 75vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  position: relative;
  display: block;
}
@media only screen and (max-width: 600px) {
  .default-content{
    display: none;
  }
}

  

.content{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 20%;
  bottom: 20%;
  left: 20%;
  right: 20%;
}

.content img{
  min-height: 15%;
  padding-left: 10%;
  padding-right: 10%;
}
.content h1 {
  font-family: 'Roboto', sans-serif;
  margin-top: 1%;
  margin-bottom: 1%;
  font-weight: 600;
}

.content p{
  padding-left: 10%;
  padding-right: 10%;
  font-size: 1.25rem;
  line-height: 1.5;
  margin-top: 0.5%;
  text-align: left;
  color: #292929;
  font-weight: 500;
}

.end-to-end{
  display: flex;
  position: absolute;
  bottom: 0%;
  left: 40%;
}
.end-to-end img{
  min-height: 10px;
  min-width: 10px;
  padding: 20px 10px 20px 20px;
}
.end-to-end p{
  font-size: 1.20rem;
  color: #292929;
}
